<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='login.css') }}">
    <script src="{{ url_for('static', path='login.js') }}"></script> -->
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <script src="/static/assets/js/login.js"></script>
    <link rel="shortcut icon" type="image/icon" href="/static/assets/logo/tech.png"/>
    <title>Login</title>
</head>
<body>
    <center>
        <form method="post" action="/login">
            <div class="container">
                <div class="login">
                    <a href="/hello">
                    <img src="/static/assets/images/loginimg/The Third eye.png" class="logo"></a>
                    <h2>Log in</h2>
                    
                    <!-- Improved email input with validation -->
                    <input class="user" placeholder="Username" type="email" name="emaill" required>

                    <input class="pswd" placeholder="Password" type="password" name="pasword" id="passwordField" required>
                    <span class="toggle-btn" onclick="togglePasswordVisibility()">👁️</span>
                    <a href="/forgotpswd">FOrgot Password?</a>
                    <button type="submit" class="btn">Login</button>
                    {% if pop_up_message %}
                    <script>
                        alert("{{ pop_up_message }}");
                        window.location.href = "/login";
                    </script>
                    {% endif %}
                </div>
            </div>
        </form>
    </center>
</body>
</html>
