<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>THE THIRD EYE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/admin_assets/img/tech.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/admin_assets/css/style.css" rel="stylesheet">
 
  <!-- upload css -->
  <link rel="stylesheet" href="/static/admin_assets/css/upload.css">

</head>
<body>
  {% if pop_up_message %}
                    <script>
                        alert("{{ pop_up_message }}");
                    </script>
  {% endif %}

     <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin" class="logo d-flex align-items-center">
        <img src="/static/admin_assets/img/TTE.png" alt="">
        <span class="d-none d-lg-block">THE THIRD EYE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
        </li><!-- End Search Icon-->


         
      <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <span style="margin-right: 0.3cm;">{{ user[0][1] }} {{ user[0][3] }}</span>
            </a><!-- End Profile Iamge Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{ user[0][1] }} {{ user[0][3] }}</h6>
                <span>{{ user[0][16] }}</span>
              </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/ausers-profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/chgpass">
                <i class="bi bi-key"></i>
                <span>Change Password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item active">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/asocieties">
          <img src="/static/admin_assets/img/society.png" class="nicon"><span class="ntext nspan">Societies</span>
        </a>
      </li><!-- End Family Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/asecurityagency">
          <img src="/static/admin_assets/img/agancy.png" class="caricon"><span class="ntext vspan">Security Agancy</span>
        </a>
      </li><!-- End security agancy Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/asecurityguard">
          <img src="/static/admin_assets/img/guard.png" class="caricon"><span class="ntext vspan">Security Guard</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/achairmanbuilder">
          <img src="/static/admin_assets/img/chairman.png" class="caricon"><span class="ntext vspan">Chairman | Builder</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/amember">
          <img src="/static/admin_assets/img/member.png" class="caricon"><span class="ntext vspan">Members</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item" style="background: #f6f9ff;">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/acaretaker">
          <img src="/static/admin_assets/img/nanny.png" class="caricon"><span class="ntext vspan" style="color: #4154f1;">Caretaker</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/aguest">
          <img src="/static/admin_assets/img/guest.png" class="caricon"><span class="ntext vspan">Guests</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/ausers-profile">
          <img src="/static/admin_assets/img/user.png" class="caricon"><span class="ntext vspan">Profile</span>
        </a>
      </li><!-- End profile Nav -->


  </aside><!-- End Sidebar-->
  <main id="main" class="main">

    <div class="upload-container upld" style="position: relative;left: 1cm;">
        <h2>Upload CSV File</h2>
        <div class="drag-drop-area" id="dragDropArea">
            <div>Drag &amp; Drop files here</div>
        </div>
        <div id="fileName"></div> <!-- Added to display file name -->
        <button class="delete-button" id="deleteButton">Delete</button> <!-- Added delete button -->
        <form class="upload-form" id="uploadForm" action="/societiesupload" method="post" enctype="multipart/form-data">
            <label for="file-upload" id="browseLabel">Browse</label>
            <input type="file" id="file-upload" name="csvfile" onchange="displayFileName(this.files[0].name)">
            <input type="submit" value="Upload">
            <input type="button" id="download-btn" class="csvbtn" value="Demo CSV">
          </form>
    </div>


    <div class="table-container" style="position: relative;left: 1cm;"> 
      <table id="myTable" style="position: relative; display: none; ">   
        <thead>
          <tr>
            <th>ID</th>       
            <th>First Name</th>       
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Alternante Email</th>
            <th>Mobile Number</th>
            <th>Altername Mobile Number</th>
            <th>Service Type</th>
            <th>Addresss Line 1</th>
            <th>Addresss Line 2</th>
            <th>Landmark</th>
            <th>Road</th>
            <th>City</th>
          </tr>
        </thead>
       </table>
      </div>  
     </main><!-- End #main -->
</body>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>The Third Eye</span></strong>. All Rights Reserved
    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/admin_assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/admin_assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/admin_assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/admin_assets/vendor/quill/quill.min.js"></script>
  <script src="/static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/admin_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/admin_assets/js/main.js"></script>
  
  <!-- upload js -->
  <script src="/static/admin_assets/js/upload.js"></script>
  <script src="/static/assets/js/demodownload.js"></script>
</html>
