<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="/static/admin_assets/css/insert.css">
</head>
<body>
  <section>
    <div class="container">
      <form id="myForm" method="post" action="/chairmanedit/{{c.chairman_id}}">
        <div>
           <a href="/admin"><img src="/static/admin_assets/img/TTE.png" alt="" class="logo"></a>
        </div>
        <div class="pagename">
          <span>
            <h3 class="pgname">Chairman | Builder Update</h3>
          </span>
        </div>
        <div class="step step-1 active">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstname" required minlength="2" maxlength="30" value="{{ c.f_name }}"/>
            <div class="error-msg"></div>
          </div>
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" id="middleName" name="middlename"  minlength="2" maxlength="30" value="{{ c.m_name }}"/>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastname" required minlength="2" maxlength="30" value="{{ c.l_name }}"/>
          </div>
          <div class="form-group">
            <label for="cityInput">Gender</label>   
               <input list="genders" id="genderInput" name="gender"  class="drp" value="{{ c.Gender }}"/>
             <datalist id="gender" class="gender">
               <option>M</option>
               <option>F</option>
               <option>O</option>
             </datalist>  
         </div>
          <div class="form-group">
            <label for="dob">DOB</label>
            <input type="date" id="dob" name="dob" required value="{{ c.dob }}"/>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="emaill" inputmode="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" onkeyup="checkEmail(event, 'email')" value="{{ c.email }}"/>
            <div class="error-msg" id="email-error-msg"></div>
          </div>
          <div class="form-group">
            <label for="alt-email">Alternate Email</label>
            <input type="email" id="alt-email" name="altemail" inputmode="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" onkeyup="checkEmail(event, 'alt-email')" value="{{ c.alternate_email }}"/>
            <div class="error-msg" id="alt-email-error-msg"></div>
          </div>
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="number" id="mobile" name="mobile" inputmode="numeric"  pattern="[0-9]{10}" required value="{{ c.mobile_no }}" maxlength="10"/>
          </div>
          <div class="form-group">
            <label for="alt-mobile">Alternate Mobile</label>
            <input type="number" id="alt-mobile" name="altmobile" inputmode="numeric" pattern="[0-9]{10}" value="{{ c.alternate_mobile_no }}" maxlength="10"/>
          </div>
        </div>

          <div class="form-group">
            <label for="address-1">Address-1</label>
            <input type="text" id="address-1" name="address1" required minlength="5" value="{{ c.address_line1 }}"/>
          </div>
          <div class="form-group">
            <label for="address-2">Address-2</label>
            <input type="text" id="address-2" name="address2" required minlength="5" value="{{ c.address_line2 }}"/>
          </div>
          <div class="form-group">
            <label for="landmark">Landmark</label>
            <input type="text" id="landmark" name="landmarks" value="{{ c.landmark }}"/>
          </div>
          <div class="form-group">
            <label for="road">Road</label>
            <input type="text" id="road" name="Road" value="{{ c.road }}"/>
          </div>
          
          <div class="form-group">
             <label for="cityInput">City</label>               
                <input list="cities" id="cityInput" name="citys"  class="drp" value="{{ c.city_name }}"/>
              <datalist id="cities" class="ct-lists">
                {% for c in city %}
                <option>{{ c.city_name }}</option>
              {% endfor %}
              </datalist>                
          </div>

         
       

      <div class="form-group">
             <label for="societyInput">Society Name</label>               
                <input list="society" id="societyInput" name="societys"  class="drp" value="{{ c.society_name }}"/>
              <datalist id="society" class="soc-lists">
                {% for s in society %}
                  <option>{{ s.society_name }}</option>
                {% endfor %}
              </datalist>                
          </div>

          <div class="form-group">
            <label for="assigndt">Assign Date</label>
            <input type="date" id="assigndt" name="assigndt" required  value="{{ c.assign_date }}"/>
          </div>

          <div class="form-group">
            <label for="assigtillndt">Assign Till</label>
            <input type="date" id="assigtillndt" name="assigntilldt" value="{{ c.assign_till }}"/>
          </div>

          <div class="form-group">
            <label for="ischairman">Is Chairman</label>
            <input list="ischairman" id="ischairmanInput" name="ischairmans" class="drp" value="{{ c.is_chairman }}"/>
            <datalist id="ischairman">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </datalist>
        </div>   
        <div class="button-group">          
          <input type="submit" class="submit-btn" name="Submit" value="Submit">
        </div>
      </form>
    </div>
  </section>
  
</body>
</html>