<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="/static/admin_assets/css/insert.css">
</head>
<body>
  <section>
    <div class="container">
      <form id="myForm" method="post" action="/agencyinsert">
        <div>
           <a href="index.html"><img src="/static/admin_assets/img/TTE.png" alt="" class="logo"></a>
        </div>
        <div class="pagename">
          <span>
            <h3 class="pgname">Security Agancy Registration</h3>
          </span>
        </div>
        <div class="step step-1 active">
          <div class="form-group">
            <label for="agencyName">Agency Name</label>
            <input type="text" id="agencyName" name="agency_name" required minlength="2" maxlength="30"/>
            <div class="error-msg"></div>
          </div>
         
          <div class="form-group">
            <label for="licenum">Licence Number</label>
            <input type="text" id="licenum" name="licenum" inputmode="numeric"  required/>
          </div>

          <div class="form-group">
            <label for="agencytyp">Agency Type</label>      
              <input list="agencytyp" id="agencytypInput" name="agencytyps"  class="drp"/>
              <datalist id="agencytyp" class="c-lists">
                  <option >1 Star</option>
                  <option >2 Star</option>
                  <option >3 Star</option>
                  <option >4 Star</option>
                  <option >5 Star</option>
              </datalist>          
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="emaill" inputmode="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" onkeyup="checkEmail(event, 'email')"/>
            <div class="error-msg" id="email-error-msg"></div>
          </div>
          
          <div class="form-group">
            <label for="pswd">Password</label>
            <input type="password" id="pswd" name="pswd" required/>
          </div>
          <div class="form-group">
            <label for="cfmpswd">Confirm Password</label>
            <input type="text" id="cfmpswd" name="cfmpswd" required/>
          </div>
  
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="number" id="mobile" name="mobile" inputmode="numeric"  pattern="[0-9]{10}" required/>
          </div>
         
     
       
          <div class="form-group">
            <label for="address-1">Address-1</label>
            <input type="text" id="address-1" name="address_1" required minlength="5" />
          </div>
          <div class="form-group">
            <label for="address-2">Address-2</label>
            <input type="text" id="address-2" name="address_2" required minlength="5" />
          </div>
          <div class="form-group">
            <label for="landmark">Landmark</label>
            <input type="text" id="landmark" name="landmarks" />
          </div>
          <div class="form-group">
            <label for="road">Road</label>
            <input type="text" id="road" name="Road" />
          </div>
      
          <div class="form-group">
            <label for="stateInput">State</label>
         
              <input list="states" id="stateInput" name="statess"  class="drp"/>
              <datalist id="states" class="s-lists">
                {% for st in state %}  
                <option>{{ st.state_name }}</option>
                {% endfor %}
              </datalist>
             
          </div>

          <div class="form-group">
             <label for="cityInput">City</label>  
             
                <input list="cities" id="cityInput" name="citys" class="drp"/>
              <datalist id="cities" class="ct-lists">
                {% for ct in cit %}  
                <option>{{ ct.city_name }}</option>
                {% endfor %}
              </datalist>  
               
          </div>
          <div class="button-group">
            <button type="submit" class="submit-btn">Submit</button>
          </div>
        </div>
        {% if pop_up_message %}
                    <script>
                        alert("{{ pop_up_message }}");
                        window.location.href = "/admin/asecurityagencyinsert";
                    </script>
        {% endif %}
      </form>
    </div>
  </section>
 
</body>
</html>