<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>THE THIRD EYE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/admin_assets/img/tech.png" rel="icon">
  <link href="/static/admin_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/admin_assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin" class="logo d-flex align-items-center">
        <img src="assets/img/TTE.png" alt="">
        <span class="d-none d-lg-block">THE THIRD EYE</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
       
        <button type="submit" title="Search"></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#"></a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="/static/admin_assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="/static/admin_assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="/static/admin_assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <span style="margin-right: 0.3cm;">{{ user[0][1] }} {{ user[0][3] }}</span>
            </a><!-- End Profile Iamge Icon -->
  
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{ user[0][1] }} {{ user[0][3] }}</h6>
                <span>{{ user[0][16] }}</span>
              </li>
            <li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/ausers-profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

   <!-- ======= Sidebar ======= -->
   <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item active">
        <a class="nav-link " data-bs-target="#components-nav" href="/admin/asocieties">
          <img src="/static/admin_assets/img/society.png" class="nicon"><span class="ntext nspan">Societies</span>
        </a>
      </li><!-- End Family Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/asecurityagency">
          <img src="/static/admin_assets/img/agancy.png" class="caricon"><span class="ntext vspan">Security Agancy</span>
        </a>
      </li><!-- End security agancy Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/asecurityguard">
          <img src="/static/admin_assets/img/guard.png" class="caricon"><span class="ntext vspan">Security Guard</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/achairmanbuilder">
          <img src="/static/admin_assets/img/chairman.png" class="caricon"><span class="ntext vspan">Chairman | Builder</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/amember">
          <img src="/static/admin_assets/img/member.png" class="caricon"><span class="ntext vspan">Members</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/acaretaker">
          <img src="/static/admin_assets/img/nanny.png" class="caricon"><span class="ntext vspan">Caretaker</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/aguest">
          <img src="/static/admin_assets/img/guest.png" class="caricon"><span class="ntext vspan">Guests</span>
        </a>
      </li><!-- End security guard Nav -->

      <li class="nav-item" style="background: #f6f9ff;">
        <a class="nav-link" data-bs-target="#forms-nav" href="/admin/ausers-profile">
          <img src="/static/admin_assets/img/user.png" class="caricon"><span class="ntext vspan" style="color: #4154f1;">Profile</span>
        </a>
      </li><!-- End profile Nav -->


  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="col-xl-8">

          <div class="card card-detail" >
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                    <div class="col-lg-9 col-md-8">{{ user[0][1] }}</div>
                  </div>

              
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Last Name</div>
                    <div class="col-lg-9 col-md-8">{{ user[0][3] }}</div>
                  </div>                  

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address Line1</div>
                    <div class="col-lg-9 col-md-8">{{ user[0][10] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address Line2</div>
                    <div class="col-lg-9 col-md-8">{{ user[0][11] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ user[0][8] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user[0][6] }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="" method="post">
                  
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fName" type="text" class="form-control" id="fullName" value="{{ user[0][1] }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lName" type="text" class="form-control" required id="fullName" value="{{ user[0][3] }}">
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Adress Line1</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="adress1" type="text" class="form-control" id="Country" required value="{{ user[0][10] }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address Line2</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address2" type="text" class="form-control" id="Address" required value="{{ user[0][11] }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" required value="{{ user[0][8] }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" required value="{{ user[0][6] }}">
                      </div>
                    </div>

                    <div class="text-center">
                      <a href="/editprofile/{{ user[0][0] }}">
                      Save Changes</a>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      
                      <button type="submit" class="btn btn-primary">Change Password</button></a>
                    </div>
                  </form><!-- End Change Password Form -->
                </div>

    

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>The Third Eye</span></strong>. All Rights Reserved
    </div>
   
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/admin_assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/admin_assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/static/admin_assets/vendor/echarts/echarts.min.js"></script>
  <script src="/static/admin_assets/vendor/quill/quill.min.js"></script>
  <script src="/static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/admin_assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/admin_assets/js/main.js"></script>

</body>

</html>