<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="/static/admin_assets/css/insert.css">
</head>
<body>
  <section>
    <div class="container">
      <form id="myForm" method="post" action="/agencyguardsinsert">
        <div>
           <a href="/admin"><img src="/static/admin_assets/img/TTE.png" alt="" class="logo"></a>
        </div>
        <div class="pagename">
          <span class="pgname">
            Guard Registration
          </span>
        </div>
        <div class="step step-1 active">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstname" required minlength="2" maxlength="30"/>
            <div class="error-msg"></div>
          </div>
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" id="middleName" name="middlename"  minlength="2" maxlength="30"/>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastname" required minlength="2" maxlength="30"/>
          </div>
          <div class="form-group">
            <label for="dob">DOB</label>
            <input type="date" id="dob" name="dob" required   />
          </div>
          <div class="form-group">
            <label for="cityInput">Gender</label>   
               <input list="genders" id="genderInput" name="gender"  class="drp"/>
             <datalist id="gender" class="gender">
               <option>M</option>
               <option>F</option>
               <option>O</option>
             </datalist>  
         </div>
  
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="emaill" inputmode="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" onkeyup="checkEmail(event, 'email')"/>
            <div class="error-msg" id="email-error-msg"></div>
          </div>
          <div class="form-group">
            <label for="alt-email">Alternate Email</label>
            <input type="email" id="alt-email" name="altemail" inputmode="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" onkeyup="checkEmail(event, 'alt-email')"/>
            <div class="error-msg" id="alt-email-error-msg"></div>
          </div>
          <div class="form-group">
            <label for="pswd">Password</label>
            <input type="password" id="pswd" name="pswd" required/>
          </div>
          <div class="form-group">
            <label for="cfmpswd">Confirm Password</label>
            <input type="text" id="cfmpswd" name="cfmpswd" required/>
          </div>
 
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="number" id="mobile" name="mobile" inputmode="numeric"  pattern="[0-9]{10}" required/>
          </div>
          <div class="form-group">
            <label for="alt-mobile">Alternate Mobile</label>
            <input type="number" id="alt-mobile" name="altmobile" inputmode="numeric" pattern="[0-9]{10}"/>
          </div>
     
          <div class="form-group">
            <label for="address-1">Address-1</label>
            <input type="text" id="address-1" name="address_1" required minlength="5" />
          </div>
          <div class="form-group">
            <label for="address-2">Address-2</label>
            <input type="text" id="address-2" name="address_2" required minlength="5" />
          </div>
          <div class="form-group">
            <label for="landmark">Landmark</label>
            <input type="text" id="landmark" name="landmarks" />
          </div>
          <div class="form-group">
            <label for="road">Road</label>
            <input type="text" id="road" name="Road" />
          </div>

          </div>

          <div class="form-group">
             <label for="cityInput">City</label>   
                <input list="cities" id="cityInput" name="citys"  class="drp"/>
              <datalist id="cities" class="ct-lists">
                {% for c in city %}  
                <option>{{ c.city_name }}</option>
                {% endfor %}
              </datalist>  
          </div>
   
           <div class="form-group">
            <label for="joindt">Join Date</label>
            <input type="date" id="joindt" name="joindt" required  />   
          </div>
             
          <div class="button-group">
           
            <button type="submit" class="submit-btn">Submit</button>

          </div>
        </div>
      </form>
    </div>
  </section>
 
</body>
</html>